/* -----
SVG Icons - svgicons.sparkk.fr
----- */

svg {
    width: 4.5em;
    height: 4.5em;
}

svg path,
svg polygon,
svg rect {
    fill: #fff;
}

svg circle {
    stroke: #16a085;
    stroke-width: 1;
}

svg.menu-toggle, svg.menu-close, svg.mail {
    width: 2.5em;
    height: 2.5em;
}

svg.menu-toggle > path {
    fill: #333;
}

svg.mail > path {
    fill: #16a085;
}

